html {
    width: 100%;
    height: 100%;
    background-color: black;
    background-color: linear-gradient(rgb(2, 2, 65),black)
}

body {
    min-width: auto;
    min-height: auto;
    align-content: center;
    background: linear-gradient(rgb(2,2,65),black);
}

#main{
    min-width: 100%;
    min-height: 100%;
    align-content: center;
}

#space_photo_header {
    align-content: center;
    text-align: center;
    color:rgb(202, 213, 223);
    font-family: 'Lato', sans-serif; 
    font-size: 20px; 
    font-weight: 90; 
    margin: 3 3 20px;
}

#space_photo{
    align-content: center;
    text-align: center;
}

#photo_of_the_day{
    align-content: center;
    text-align: center;
    max-width: 60%;
    height:auto;
}

#photo_info {
    align-content:center;
    text-align: center;
    color:rgb(202, 213, 223);
    font-family: 'Lucida Sans', Arial, sans-serif; 
    margin: 0;
    font-size: auto;
}

#photo_discription{
    display: inline-block;
    background-color: rgba(80, 80, 80, 0.555);
    max-width: 60%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#star_date {
    position: absolute;
    color:rgb(202, 213, 223);
    font-family: 'Lucida Sans', Arial, sans-serif; 
}