html {
    width: 100%;
    height: 100%;
    background-color: black;
}

body {
    min-width: 100%;
    min-height: 100%;
    align-content: center;
    position: absolute;
    background: linear-gradient(to bottom, rgb(3, 23, 64),black)
}

#space_photo_header {
    align-content:center;
    text-align: center;
    color:rgb(202, 213, 223);
    font-family: nasalization, sans-serif;
    font-weight: 400;
    font-style: normal;; 
    font-size: 90%; 
}

#space_photo{
    align-content: center;
    text-align: center;
    position: absolute;
    padding: 2vw 4vw;
}

#photo_of_the_day{
    display: inline-block;
    align-content: center;
    text-align: center;
    max-width: 88%;
    height:auto;
    border-radius: 10px;
}

#photo_info {
    color:rgb(202, 213, 223);
    font-family: nasalization, 'Lucida Sans', Arial, sans-serif; 
    font-size: auto;
    padding: 2vw 4vw;
}

#photo_discription{
    visibility: hidden;
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    padding:1%;
    background-color: rgba(0, 0, 0, 0.555);
    max-width: 150%;
    max-height: auto;
    height: auto;
    position:absolute;
    font-family: nasalization, sans-serif;
    font-size: 1.5vw;
    top: 45%;
    left: auto;
    right:auto;
    transform: translate(-60%, -60%);
}
#star_date {
    vertical-align: bottom;
    color:rgb(202, 213, 223);
    font-family: nasalization, sans-serif; 
}